<!DOCTYPE HTML>
<html>
<head>
<title>POMS账号登录成功</title>
<style>
h1 {
    position:fixed;
    top:0px; left:0px;
    width:100%;
    color:#ffffff; background-color:#666666;
    margin:0px;padding:10px;
    height:60px;
    z-index:2;}
.widths{width:200px;}
div.div_registered{   
    position:absolute;
    left:47%; /*向右移*/
    top:50%; /*向下移*/
    margin:-180px 0 0 -190px;
}
</style>

</head>
<body>
<h1>POMS账户登录成功</h1>
<div class="div_registered">
<h3 style="text-align:center">{{username}}欢迎您的登入</h3>
<hr/>
<h2>本系统仅为测试用途，请知悉。谢谢！</h2>
<hr/>
<p>如需修改个人用户登录密码，请点击进行<a href="/userchange">修改</a></p>
</div>
</body>
</html>
