<div class="wrapper wrapper-content animated fadeInRight"><!--添加机房-->
    <div class="row">
        <div class="col-sm-12">
                <form action="" class="form-horizontal nice-validator n-yellow" id="addForm" method="post" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name">机房简称<span class="red-fonts">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="英文简称" name="name" aria-required="true" data-tip="机房简称">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="name_cn">机房名</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="机房名" name="name_cn" aria-required="true" data-tip="机房名">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="address">机房地址<span class="red-fonts">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="address" name="address" aria-required="true" data-tip="地址">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="linkman">联系人<span class="red-fonts">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="linkman" name="linkman" aria-required="true" data-tip="联系人">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="phone">手机号</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="phone" name="phone" aria-required="true" data-tip="Phone">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="num">机柜数量</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="num" name="num" aria-required="true" data-tip="机柜数量">
                        </div>
                    </div>
		</form>
        </div>
    </div>
</div><!--添加机房-->
</table><p id="result" style="color:red">{{ result }}</p>
