{% extends 'base.html' %}
{% block content %}
<div class="row wrapper border-bottom white-bg page-heading"><!--标头-->
    <div class="col-sm-10">
        <h2>-_-机房管理</h2>
    </div>
</div><!--标头-->
<div class="wrapper wrapper-content animated fadeInRight"><!--机房列表-->
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="">
                        <button class="btn btn-sm btn-primary addidc"> 添加机房 </button>
                    </div>

                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">机房简称</th>
                                <th class="text-center">机房全称</th>
                                <th class="text-center">地址</th>
                                <th class="text-center">联系人</th>
                                <th class="text-center">手机号</th>
                                <th class="text-center">机柜数量</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
			{% if idcinfo %}
                        {% for idc in idcinfo %}
                            <tr class="gradeX">
                                <td class="text-center">{{idc[0]}}</td>
                                <td class="text-center">{{idc[1]}}</td>
                                <td class="text-center">{{idc[2]}}</td>
                                <td class="text-center">{{idc[3]}}</td>
                                <td class="text-center">{{idc[4]}}</td>
                                <td class="text-center">{{idc[5]}}</td>
                                <td class="text-center">{{idc[6]}}</td>
                                <td class="text-center">
                                    <button data-id="{{idc[0]}}" class="btn btn-xs btn-info update">编辑</button>
                                    <button data-id="{{idc[0]}}" class="btn btn-xs btn-danger del">删除</button>
                                </td>
                            </tr>
			{% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
		    <p id='errmsg'></p>
                </div>
            </div>
        </div>
    </div>
</div><!--用户列表-->
<!--添加机房模态窗-->
<div class="modal fade" id="Addidc" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">添加机房</h4>
      </div>
      <div class="modal-body">
        {% include 'cmdb/addidc.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addbtn">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--更新模态窗-->
<div class="modal fade" id="UpModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">更新机房信息</h4>
      </div>
      <div class="modal-body">
        {% include 'cmdb/editidc.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary upbtn">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$('#editable').DataTable({
	"language": {
	"lengthMenu": "每页 _MENU_ 条记录",
	"zeroRecords": "没有找到记录",
	"sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
	"infoEmpty": "无记录",
	"infoFiltered": "(从 _MAX_ 条记录过滤)",
	"sSearch": "搜索:",
	"oPaginate": {
		"sFirst": "首页",
		"sPrevious": "上一页",
		"sNext": "下一页",
		"sLast": "末页"
		}
	},
	//"order": [[ 1,"desc" ]]
	"order": [[ 1,"asc" ]]
});

$('.addidc').click(function(){
        //$('#UpModal').modal('hide')
        $('#Addidc').modal('show')
})

$('.addbtn').click(function(){
        var formdata = $('#addForm').serialize()
        $.post("/addidc",formdata,function(data){
		console.log(data)
                udata = JSON.parse(data)
		console.log(udata)
                if (udata['code']==0){
                       // alert(udata['result'])
                        swal({
                                title: "添加成功",
                                type: "success",
                                confirmButtonText: "确定"
                        },function(){
                                location.href="/idc"
                        });
                }else{
                        //$('#result').html(udata['errmsg'])
                        swal("MY GOD",("添加失败"),"error");
                }
        })
        return false
})
//获取更新前的数据
$('.update').click(function(){
	//$('#UpModal').modal('hide')
	$('#UpModal').modal('show')
	var id = $(this).attr('data-id')
	$.getJSON("/editidc",{'cid':id},function(data){
		$("#id").val(data['id'])
		$("#name").val(data['name'])
		$("#name_cn").val(data['name_cn'])
		$("#address").val(data['address'])
		$("#linkman").val(data['linkman'])
		$("#phone").val(data['phone'])
		$("#num").val(data['num'])
	})	
})
//提交更新后的数据
$('.upbtn').click(function(){
        var formdata = $('#updateForm').serialize()
        $.post("/editidc",formdata,function(data){
              udata = JSON.parse(data)
              if (udata['code']==0){
                     //alert(udata['result'])
	      	swal({
                              title: "更新成功",
                              type: "success",
                              confirmButtonText: "确定"
                      },function(){
                              location.href="/idc"
                      });
              }else{
                      //$('#result').html(udata['errmsg'])
	      	swal("MY GOD",("更新失败"),"error");
              }
        })
        return false
})

$('.del').click(function(){
	var id = $(this).attr('data-id')
	$.getJSON("/delidc",{'cid':id},function(data){
		if (data['code']==0){
			swal({
                                title: "删除成功",
                                type: "success",
                                confirmButtonText: "确定"
                        },function(){
                                location.href="/idc"
                        });
		}
		else{
                        swal("MY GOD",("删除失败"),"error");
                }
	})
})
</script>
{% endblock %}
