{% if result %}
<p style="color:red">{{result}}</p>
{% endif %}
<table border='1'>
    <thead>
    <tr>
        <td>用户名</td>
        <td>中文名</td>
        <td>邮箱</td>
        <td>手机号</td>
        <td>角色</td>
        <td>状态</td>
        <td>操作</td>
    </tr>
    </thead>

    <tbody>
    {% if users %}
    {%for user in users%}
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.name_cn}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        {% if user.role == 'admin' %}
        <td>管理员</td>
        {% elif user.role == 'user' %}
        <td>普通用户</td>
        {% endif %}
        {% if user.status == 1 %}
        <td>正常</td>
        {% elif user.status == 0 %}
        <td>锁定</td>
        {% else %}
        <td>异常</td>
        {% endif %}

        <td><a href="/update?id={{ user.id }}"><input type="button" name="update" data-id='{{ user.id }}'
                                                          value="更新"></a>
            <a href="/delete?id={{ user.id }}"> <input type="button" name="del" data-id='{{ user.id }}' value="删除"></a>
            <a href="/password?id={{user.id}}"> <input type="button" name="cpassword" data-id='{{ user.id }}'
                                                          value="重置密码"></a>

        </td>
    </tr>
    {%endfor%}
    {%endif%}
    </tbody>


</table>
    <form action="/logout">
        <button type="submit">退出</button>
    </form>