
<div>
    {{username}} 欢迎登陆! <a href="/logout">退出</a>
</div>
    <p><a href="/adduser">添加用户</a></p>

<hr>
    用户列表:
<table border='1'>
    <thead>
        <tr>
	    <td>用户名</td>
	    <td>中文名</td>
	    <td>邮箱</td>
	    <td>手机号</td>
                <td>角色</td>
                <td>状态</td>
	    <td>操作</td>
        </tr>
    </thead>

    <tbody>
      {% if users %}
      {%for user in users%}
	<tr>
	    <td>{{user['name']}}</td>
	    <td>{{user.name_cn}}</td>
	    <td>{{user.email}}</td>
	    <td>{{user.mobile}}</td>
                <td>{{user.role}}</td>
                {% if user.status == "0" %}
                <td>激活</td>
                {% else %}
                <td>锁定</td>
                {% endif %}
	    <td> 
                    <a href="/update?id={{ user.id }}"><button>更新</button></a>
                    <button onclick="userdel({{user.id}})">删除</button>
                    <a href="/cgpassword?id={{ user.id }}"><button>修改密码</button></a>
                </td>
	</tr>
      {%endfor%}
      {%endif%}
    </tbody>
</table>
<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
<script>
function userdel(uid){
    $.ajax({
        type:"get",
        url:"/delete",
        data:{"uid":uid},
        success:function(){
            location.href="/";
        }
    })
}

</script>
