<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Modfiy</title>
</head>
<body>
    <form id="upForm">
        <p>用户名:<input type="text" name="name" value="{{user.name}}" readonly="readonly"></p>
        <p>中文名:<input type="text" name="name_cn" value="{{user.name_cn}}" readonly="readonly"></p>
        <p>Email:<input type="text" name="email" value="{{ user.email}}"></p>
        <p>Mobile:<input type="text" name="mobile" value="{{ user.mobile }}"></p>
        <p>角色:
            <select name="role">
                <option value="ops">ops</option>
                <option value="php">php</option>
                <option value="app">app</option>
            </select>
        </p>
        <p>状态:
            <select name="status">
                <option value="0">激活</option>
                <option value="1">锁定</option>
            </select>
        </p>
        <button id="modfiy">修改</button>
    </form>
    <script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
    <script>
        $("#modfiy").on("click",function(){
            $.ajax({
                type:"post",
                url:"/update",
                data:$("#upForm").serialize(),
                success:function(){
                    location.href="/";
                }
            })
            return false
        })
    </script>
</body>
</html>