<form action='/login'>
<br>
<div>
用户登录
</div>
name:<input type='text' name='name'>
password:<input type='password' name='password'>
<button type='submit'>login</button>
</form>

<br>
<br>

<form action='/register'>
<div>
用户注册
</div>
name:<input type='text' name='name'>
password:<input type='text' name='password'>
<button type='submit'>register</button>
</form>

<br>
<form action='/showuser'>
<div>
用户管理
</div>
<button type='submit'>manage</button>
</form>


login page
<form action='/loginaction' method='post'>
user:<input type='text' name='user'>
password:<input type='text' name='pwd'>
<input type='submit' value='login'>
</form>
