<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    {%if result%}
    <p style="color:red">{{result}}</p>
    {%endif%}
    <form method="post" action="/login">
        <input type="text" name="name" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <br><br>
        <input type="submit" value="登录">
    </form>
</body>
</html>

<!-- http://localhost/login?name=fdsf&password=sdfas-->