<!DOCTYPE HTML>
<html>
<head><title>POMS用户添加</title></head>
</body>
  <h2>新增用户</h2>
<hr/>
<form action="/admin/adduser/" method="post">
  <p>账号: <input type="text" name="name" /></p>
  <p>姓名: <input type="text" name="name_cn" /></p>
  <p>密码: <input type="password" name="password" /></p>
  <p>邮箱: <input type="text" name="email" /></p>
  <p>手机: <input type="text" name="mobile" /></p>
  <p>
  <label>角色:</label>
	<select name="role" id="role">
	    <option value="admin">管理员</option>
	    <option value="user">普通用户</option>
	</select>
  </p>
  <p>
<label>状态:</label>
	<select name="status" id="status">
	    <option value="1">正常</option>
	    <option value="0">锁定</option>
	</select> <br/>
  </p>
  <p><input type="submit" value="增加" />
  <a href="/admin"> <input type="button" value="放弃增加"></a>
  </p>
</form>
<p>{{info}}</p>
</body>
</html>

