<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
    <form action="/users/add/" method="post">
        用户名: <input type="text" name="username"><br><br>
        密码: <input type="password" name="password"><br><br>
        中文名: <input type="text" name="name_cn"><br><br>
        邮箱: <input type="text" name="email"><br><br>
        手机: <input type="text" name="mobile"><br><br>
        角色: <input type="text" name="role"><br><br>
        账号状态: <input type="text" name="status"><br><br>
        <button type="submit">注册</button>
    </form>
</body>
</html>