<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
    <a href="/users/regedit/">添加用户</a>
    <table border="1px">
        <thead>
            <th>id</th>
            <th>用户名</th>
            <th>中文名</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>手机</th>
            <th>角色</th>
            <th>账号状态</th>
            <th>账号创建时间</th>
            <th>最后登录时间</th>
            <th>操作</th>
        </thead>
        {% for user in users %}
        <tbody>
            <td>{{ user['id'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['name_cn'] }}</td>
            <td>{{ user['password'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['mobile'] }}</td>
            <td>{{ user['role'] }}</td>
            <td>{{ user['status'] }}</td>
            <td>{{ user['create_time'] }}</td>
            <td>{{ user['last_time'] }}</td>
            <td>
                <a href="/users/modify?id={{ user['id'] }}">更新</a>
                <a href="/users/delete?id={{ user['id'] }}">删除</a>
            </td>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>