<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>用户名</td>
                <td>中文名</td>
                <td>邮箱</td>
                <td>手机号</td>
                <td>角色</td>
                <td>操作</td>
            </tr>
        </thead>
        <tr>
            <td>{{user['name']}}</td>
            <td>{{user['name_cn']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['mobile']}}</td>
            <td>{{user['role']}}</td>
            <td>
                <a href="/update?id={{user['id']}}">
                    <input type="button" name="update" data-id="{{user['id']}}" value="更新">
                    <!--点击更新，传递id到/update页面-->
                </a>
            </td>
        </tr>
    </table>
    <a href="/userlist">
        <input type="button" value="查看用户列表">
    </a>
</body>
</html>