{% extends "base.html" %}
{% block breadcrumb %}
机房管理
{% endblock %}

{% block main %}
<div class="col-sm-12">
<a href="/addidc" class="btn btn-sm btn-primary "> 添加机房</a> 
<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
        <th class="text-center">机房名</th>
        <th class="text-center">运营商</th>
        <th class="text-center">联系人</th>
        <th class="text-center">联系电话</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>
   {% for idc in idcs %}
        <tr class="gradeX">
                <td class="text-center"><a href="/idcinfo?id={{idc.id}}">{{idc.name}}</a></td>
                <td class="text-center">{{idc.isp}}</td>
                <td class="text-center">{{idc.contact}}</td>
                <td class="text-center">{{idc.mobile}}</td>
                <td class="text-center">
                    <button data-id="{{idc.id}}" class="btn btn-xs btn-info">编辑</button>
                    <button data-id="{{idc.id}}" class="btn btn-xs btn-danger del ">删除</button>
                </td>
            </td>
         </tr>
    {% endfor %}
 </tbody>
</table>

<div class="modal fade" id="updateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">更新用户信息</h4>
      </div>
      <div class="modal-body">
	                   <form id="updateidcForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
			    <input type="hidden" id='id' name="id" >
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label  ">机房名<span class="red-fonts ">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="idcname" type="text" class="form-control" aria-required="true" data-tip="输入机房名">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="name_cn" class="col-sm-2 control-label">运营商<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="isp" name="isp" placeholder="isp" type="text" class="form-control" aria-required="true" data-tip="运营商">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="contact" class="col-sm-2 control-label">联系人<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="contact" name="contact" placeholder="Name" type="text" class="form-control" aria-required="true" data-tip="联系人">
                                 </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-8">
                                    <input id="mobile" name="mobile" placeholder="Mobile" type="text" class="form-control" aria-required="true" data-tip="手机号">
                                 </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">地址<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="address" name="address" type="address" class="form-control" aria-required="true" data-tip="address">
                                </div>
                            </div>
	                            <div class="hr-line-dashed"></div>
                        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="update_button" type="button" class="btn btn-primary update">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(".btn-info").click(function(){
    $('#updateModal').modal('show')
    var id = $(this).attr('data-id')
    $.getJSON('/updateidc',{id: id},function(data){
	if (data['code'] == 0){
	    console.log(data['result'])
	    $('#id').val(data['result']['id'])
	    $('#name').val(data['result']['name'])
	    $('#isp').val(data['result']['isp'])
	    $('#contact').val(data['result']['contact'])
	    $('#mobile').val(data['result']['mobile'])
	    $('#address').val(data['result']['address'])
	}
    })
})
</script>

    <script>
        $("#update_button").click(function(){
            $.post("/updateidc",$("#updateidcForm").serialize(),function(data){
                data=JSON.parse(data);
                if(data["code"] == 0){
//                    location.href="/idc";
		    location.reload(true)
                }else{
                    $("#errmsg").text(data["errmsg"]);
                }
            })
            return false
        })
    </script>

<script>
    $('.del').click(function(){
	var id = $(this).attr('data-id')
	if(confirm('confirm delete?')){
	    $.getJSON('/delidc',{id:id},function(data){
		if(data['code'] == 0){
                    location.href="/idc";
		}else{
		    $('#errmsg').text(data['errmsg']);
		}
	    })
	    return false
	}
    })
</script>

</div> <!--col-sm-12-->
{% endblock %}
