<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>用户变更密码系统</title>
</head>
<body>
<div>
  {% if result %}
  <p style="color:red">{{ result }}</p>
  {% endif%}

  {% if user %}
  <form id="updateForm" action='/update_password' method='post' accept-charset="UTF-8">
        <input type="hidden" id='id' name="id" value='{{user.id}}'>  <!--update need id-->
        <div>
            <h2>{{user.name}}    :用户重置密码</h2>
        </div> <!-- name -->

        <div>
            <label>现在的密码</label>
            <input id='p' type='text' name='password_old'>
        </div><!-- mobile --> 

       <div>
            <label>要修改的密码</label>
            <input id='p1' type='password' name='password' >
        </div><!-- email -->

        <div>
            <label>确认修改：</label>
            <input id='p2' type='test' name='password_rep' >
         </div> <!--role-->
        <div>
            <button type="submit">更新信息</button>
            <a href="/userlist"><input type="button" value="返回"></button></a>
        </div> <!--button--> 

    </form><!--form end-->
{% endif %}
</div>
</body>
</html>
