<table border='1'>
    <thead>
        <tr>
	    <td>User</td>
	    <td>Password</td>
	    <td>Delete</td>
	    <td>Modify</td>
        </tr>
    </thead>

    <tbody>
      {%for user in users%}
      {%if user[0] and user[1]%}
	<tr>
	    <td>{{user[0]}}</td>
	    <td>{{user[1]}}</td>
	    <td><a href='/deluser?username={{user[0]}}'>delete</a></td>
	    <td><a href='/modify?username={{user[0]}}&password={{user[1]}}'>modify</a></td>
	</tr>
      {%endif%}
      {%endfor%}
    </tbody>


</table>
</div>
<a href='/'>返回首页</a>
<div>
