<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<a href="/add">添加用户</a>
<form action="" method="post">
    <p>查询：<input type="text" name="cats"> <input type="submit" value="查询"></p>
</form>
<table border='1'>
    <thead>
    <tr>
        <td>用户名</td>
        <td>中文名</td>
        <td>邮箱</td>
        <td>手机号</td>
        <td>用户组</td>
        <td>用户状态</td>
        <td>创建时间</td>
        <td>最后登录时间</td>
        <td>操作</td>
    </tr>
    </thead>

    <tbody>
    {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user['name'] }}</td>
                <td>{{ user['name_cn'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['mobile'] }}</td>
                {% if user['role'] == "1" %}
                    <td>管理员</td>
                {% else %}
                    <td>其他用户</td>
                {% endif %}
                {% if user['status'] == 0 %}
                    <td>启用</td>
                {% else %}
                    <td>禁用</td>
                {% endif %}
                <td>{{ user['create_time'] }}</td>
                <td>{{ user['last_time'] }}</td>
                <td> <a href="/update?id={{ user.id }}"><input type="button" name="update" id='{{ user.id }}' value="更新"></a>
                    <a href="/upasswd?id={{ user.id }}"><input type="button" name="up_passwd" id="{{ user.id }}" value="修改密码"></a>
                    <a href="/delete?id={{ user.id }}"> <input type="button" name="del" id='{{ user.id }}' value="删除"></a>
                </td>

            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>

</body>
</html>