<form action='/listone' method='post'>
    name:<input type='text' name='name'>
    <input type='submit' value='提交'>
</form>

<table border='1'>
    <thead>
      <tr>
          <td>用户名</td>
          <td>中文名</td>
          <td>密码</td>
          <td>邮箱</td>
          <td>手机号</td>
          <td>创建时间</td>
          <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {% if users %}
      {% for user in users %}
      <tr>
          <td>{{user.name}}</td>
          <td>{{user.name_cn}}</td>
          <td>{{user.password}}</td>
	  <td>{{user.email}}</td>
	  <td>{{user.mobile}}</td>
	  <td>{{user.create_time}}</td>
<!--
          <td><form action='/update'><input type='submit' name='updata' data_id='{{user.id}}' value='更新'></form>
          <form action='/delete'><input type='button' name='delete' data_id='{{user.id}}' value='删除'></form></td>
-->
          <td><form action='/update'><input style="display:none" type='text' name='name' value='{{user.name}}'><input style="display:none" type='text' name='userid' value='{{user.id}}'><input type='submit' name='update' value='更新'></form>
          <form action='/delete'><input style="display:none" type='text' name='userid' value='{{user.id}}'><input type='submit' name='delete' value='删除'></form></td>
      </tr>
      {%endfor%}
      {%endif%}
    </tbody>
</table>
