<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>用户管理系统</title>
</head>
<body>
<div>
  {% if result %}
  <p style="color:red">{{ result }}</p>
  {% endif%}
  
  {% if user %}
  <form id="updateForm" action='/update' method='post' accept-charset="UTF-8">
        <input type="hidden" id='id' name="id" value='{{user.id}}'>  <!--update need id-->
        <div>
            <label>用户名：</label>
            <input id='name' type='text' name='name' value='{{user.name}}'>
        </div> <!-- name -->

        <div>
            <label>中文名：</label>
            <input id='name_cn' type='text' name='name_cn' value='{{user.name_cn}}'>
        </div><!-- name_cn-->

        <div>
            <label>手机号：</label>
            <input id='mobile' type='text' name='mobile' value='{{user.mobile}}'>
        </div><!-- mobile --> 
        
       <div>
            <label>邮箱号：</label>
            <input id='email' type='text' name='email' value='{{user.email}}'>
        </div><!-- email -->

        <div>
            <label>角色：</label>
            <select name='role' id='role'>
                <option value="admin">管理员</option>
                <option value ="user">普通用户</option>
            </select>
         </div> <!--role-->
    
        <div>
            <label>状态：</label>
            <select name='status' id='status'>
                <option value=0>正常</option> 
                <option value=1>锁定</option>
            </select>
         </div> <!--status-->

        
        <div>
            <button type="submit">更新信息</button>
            <button >退出</button>
        </div> <!--button--> 

    </form><!--form end-->
{% endif %}
</div>
</body>
</html>




