<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
</head>
<body>
    <!--<form  method="post" action="/login"> -->
    <form id="loginForm">
        <input id="name" type="text" name="name" placeholder="username">
        <input id ="password" type="password" name="password" placeholder="password">
        <input id="loginbtn" type="submit" value="登陆">
    </form>
    <p id="errmsg" style="color:red"></p>
   {% if errmsg %}
    <div style="color:red">
        {{errmsg}}
    </div>
    {% endif %}

<script src="/static/js/jquery-3.1.0.min.js"></script>
<script>
//alert("welcome jquery")

$('#loginbtn').on('click',function(){
     var str = $('#loginForm').serialize()
     console.log(str) 
     $.post("/login",str,function(data){
          console.log(data)    
          data = JSON.parse(data)
          console.log(data)  
          if (data['code']==0){
            alert(data['result'])
            location.href="/"
          }else{
            $('#errmsg').html(data['errmsg'])
           }
     })
      return false
})
</script>
</body>
</html>
