<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <style type="text/css">
            .left {
                float: left;
                height: 0px;
            }

            .right {
                height: 0px;
            }
        </style>
    <title>用户管理系统</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  ...
</nav>
<div class="container-fluid">
<div class="row">
    <div class="col-md-2 left">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>

    <div class="col-md-4 right">
      <form class="form-horizontal" id="updateForm">
            <input type="hidden" id='id' name="id" value='{{user.id}}'>
            <div class="form-group">
                <label class="col-md-2 control-label">用户名：</label>
                <div class="col-md-10">
                    <input id='name' type='text' name='name' value='{{user.name}}' readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="name_cn">中文名：</label>
                <div class="col-md-10">
                    <input id='name_cn' type='text' name='name_cn' value='{{user.name_cn}}'>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="mobile">手机号：</label>
                <div class="col-md-10">
                    <input id='mobile' type='text' name='mobile' value='{{user.mobile}}'>
                </div>
            </div>

           <div class="form-group">
                <label class="col-md-2 control-label" for="email">邮箱号：</label>
                <input id='email' type='text' name='email' value='{{user.email}}'>
            </div>

            {% if session.user =='admin' %}
            <div class="form-group">
                <label class="col-md-2 control-label" for="role">角色：</label>
                <select name='role' id='role'>
                    <option value="admin">管理员</option>
                    <option value ="user">普通用户</option>
                </select>
             </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="s">状态：</label>
                <select name='status' id='status'>
                    <option value=0>正常</option>
                    <option value=1>锁定</option>
                </select>
             </div>
          {% endif %}

        </form>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <button type="button" class="btn btn-primary" id="updateBtn">更新信息</button>
                <a href="/users/"><button type="button" class="btn btn-primary" >返回</button></a>
            </div>
        </div>

    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#updateBtn").click(function () {
            var data = $("#updateForm").serialize();
            $.post('/users/update/', data, function(result){
                var result = JSON.parse(result)
                if(result['status']==0){
                    window.location.href='/users/';
                }
            })
        })
    });
</script>

</body>
</html>