<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>用户管理系统</title>
</head>
<body>
  <form id="updateForm">
        <input type="hidden" id='id' name="id" value='{{user.id}}'>  <!--update need id-->

        <div>
            <label>用户名：</label>
            <input id='name' type='text' name='name' readonly='true' value='{{user.name}}'>
        </div><!-- name_cn-->

        <div>
            <label>中文名：</label>
            <input id='name_cn' type='text' name='name_cn' required='required'  value='{{user.name_cn}}'>
        </div><!-- name_cn-->

        <div>
            <label>手机号：</label>
            <input id='mobile' type='text' name='mobile' value='{{user.mobile}}'>
        </div><!-- mobile --> 
        
       <div>
            <label>邮箱号：</label>
            <input id='email' type='text' name='email' value='{{user.email}}'>
        </div><!-- email -->
<!--
        <div>
            <label>角色&nbsp：</label>
            <select name='role' id='role'>
                <option value="admin">管理员</option>
                <option value ="user">普通用户</option>
            </select>
         </div> 
    
        <div>
            <label>状态&nbsp：</label>
            <select name='status' id='status'>
                <option value=0>正常</option> 
                <option value=1>锁定</option>
            </select>
         </div> 
-->
        
        <div>
            <button id='updatebtn' type="submit">更新信息</button>
        </div> <!--button--> 

    </form><!--form end-->
    <div>
      <p id='intro' style="color:red">{{ result }}</p>
    </div>
<script src='http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js'></script>
<script>
$('#updatebtn').click(function(){
    var str=$('#updateForm').serialize()
    console.log(str)
    $.post('/update',str,function(data){
	console.log(data)
	data=JSON.parse(data)
	console.log(data)
	if (data['code']==0){
	    alert(data['result'])
	    location.href='/userlist'
	}else{
	    $('p#intro').html(data['errmsg'])
	}
    })
    return false
})
</script>
</div>
</body>
</html>
