<html>
<body>
<div>
    {{username}} 欢迎登陆! <a href="/loginout">退出</a>  
</div>
<form action='/listone' method='post'>
    查找:<input type='text' name='name'>
    <input type='submit' value='提交'>
</form>
<table border='1'>
    <thead>
      <tr>
          <td>用户名</td>
          <td>中文名</td>
          <td>密码</td>
          <td>邮箱</td>
          <td>手机号</td>
          <td>创建时间</td>
          <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {% if users %}
      {% for user in users %}
      <tr>
          <td>{{user.name}}</td>
          <td>{{user.name_cn}}</td>
          <td>{{user.password}}</td>
	  <td>{{user.email}}</td>
	  <td>{{user.mobile}}</td>
	  <td>{{user.create_time}}</td>
<!--
          <td><form action='/update'><input type='submit' name='updata' data_id='{{user.id}}' value='更新'></form>
          <form action='/delete'><input type='submit' name='delete' data_id='{{user.id}}' value='删除'></form></td>
-->
          <td><form action='/update'><input type="hidden" type='text' name='name' value='{{user.name}}'><input type="hidden" type='text' name='id' value='{{user.id}}'><input type='submit' name='update' value='更新'></form>
          <form id='delete' action='/delete'><input type="hidden" type='text' name='id' value='{{user.id}}'><input type='submit' name='delete' value='删除'></form>
          <form action='/modify_pwd'><input type="hidden" type='text' name='id' value='{{user.id}}'><input type='submit' name='modify_pwd' value='修改密码'></form></td>
      </tr>
      {%endfor%}
      {%endif%}
    </tbody>
</table>
<script src='http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js'></script>
<script>
$('#delete').click(function(){
    alert('delete success!')
})
</script>
</html>
