<div>
    {{username}} 欢迎登陆! <a href="/loginout">退出</a>  
</div>
<table border='1'>
    <thead>
      <tr>
          <td>用户名</td>
          <td>中文名</td>
          <td>密码</td>
          <td>邮箱</td>
          <td>手机号</td>
          <td>创建时间</td>
          <td>操作</td>
      </tr>
    </thead>
    <tbody>
      {% if user %}
      <tr>
          <td>{{user.name}}</td>
          <td>{{user.name_cn}}</td>
          <td>{{user.password}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobile}}</td>
          <td>{{user.create_time}}</td>
          <td><form action='/update'><input type="hidden" type='text' name='id' value='{{user.id}}'><input type='submit' name='update' value='更新'></form>
          <form action='/modify_pwd'><input type="hidden" type='text' name='id' value='{{user.id}}'><input type='submit' name='modify_pwd' value='修改密码'></form></td>
      </tr>
      {%endif%}
    </tbody>
</table>
